@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');

::placeholder{
  font-size: 18px;
}
*{
  box-sizing: border-box;
  /* outline: 3px solid limegreen !important; */
  /* background: rgba(0 100 0 / 0.1) !important;  */
}
::selection{
  background: black;
  color: white;
}
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
